<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Random Quote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body id="body" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div id="quote-box" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <h2 id="text" class="bi bi-quote text-start">{{quote}}</h2>
      <p id="author" class="bi bi-dash-lg text-end">{{author}}</p>
      <div class="d-flex justify-content-between mt-3">
        <a id="tweet-quote" 
           href="https://twitter.com/intent/tweet" 
           target="_blank"
           class="bi bi-twitter btn btn-primary">
        </a>
        <button id="new-quote" class="btn btn-primary" (click)="fetchNewQuote()">New quote</button>
    </div>
    </div>
</body>
</html>